<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>PKM门户--{$title}</title>
<import type="css" file="css.basic,css.diary" />
<import type="js" file="js.jquery_min,js.basic" />
</head>
<body>	
<div id="main">
	<!-- 引入公共模板 -->
	<include file="Public/include/left.html,Public/include/top.html"/>
	
	<div id="foot">
		<div class="nav">
				这里添加导航
		</div>
		<dl>
			<dt><a title="聚美优品陈欧：没有自我质疑，就没有今天的聚美" href="###">聚美优品陈欧：没有自我质疑</a></dt>
			<dd class="date">2014-06-08</dd>
			<dd class="text">刘洋/钛媒编辑】2014年6月1日，聚美优品创始人兼CEO陈欧参加福布斯中国第二期云集。作为成功登陆纽交所最年轻的中国企业CEO，他聊起了聚美优品是如何从一家屌丝企业，变身纽交所市值40亿美元企业的创业故事。
				陈欧告诫创业者要保持质疑，不是质疑别人，而是学会对自己的质疑。
				质疑商业模式。创业者无需死守自己的商业模式，因为所谓的坚持，是对创业精神的坚持，对团队奋斗的坚持，而不是对商业模式的坚持，更不是对创始人内心的小骄傲的坚持。在互联网高速变革的背景下，只有对商业模式持续质疑，才能找到风口，去顺势而为。
				质疑扩张。
			</dd>
			<dd class="tag">标签：<a href="###">互联网</a><a href="###">创业</a><a href="###">聚美优品</a><a href="###">陈欧</a></dd>
		</dl>
		
		<dl>
			<dt><a title="聚美优品陈欧：没有自我质疑，就没有今天的聚美" href="###">聚美优品陈欧：没有自我质疑</a></dt>
			<dd class="date">2014-06-08</dd>
			<dd class="text">刘洋/钛媒编辑】2014年6月1日，聚美优品创始人兼CEO陈欧参加福布斯中国第二期云集。作为成功登陆纽交所最年轻的中国企业CEO，他聊起了聚美优品是如何从一家屌丝企业，变身纽交所市值40亿美元企业的创业故事。
				陈欧告诫创业者要保持质疑，不是质疑别人，而是学会对自己的质疑。
				质疑商业模式。创业者无需死守自己的商业模式，因为所谓的坚持，是对创业精神的坚持，对团队奋斗的坚持，而不是对商业模式的坚持，更不是对创始人内心的小骄傲的坚持。在互联网高速变革的背景下，只有对商业模式持续质疑，才能找到风口，去顺势而为。
				质疑扩张。
			</dd>
			<dd class="tag">标签：<a href="###">互联网</a><a href="###">创业</a><a href="###">聚美优品</a><a href="###">陈欧</a></dd>
		</dl>
		
		<dl>
			<dt><a title="聚美优品陈欧：没有自我质疑，就没有今天的聚美" href="###">聚美优品陈欧：没有自我质疑</a></dt>
			<dd class="date">2014-06-08</dd>
			<dd class="text">刘洋/钛媒编辑】2014年6月1日，聚美优品创始人兼CEO陈欧参加福布斯中国第二期云集。作为成功登陆纽交所最年轻的中国企业CEO，他聊起了聚美优品是如何从一家屌丝企业，变身纽交所市值40亿美元企业的创业故事。
				陈欧告诫创业者要保持质疑，不是质疑别人，而是学会对自己的质疑。
				质疑商业模式。创业者无需死守自己的商业模式，因为所谓的坚持，是对创业精神的坚持，对团队奋斗的坚持，而不是对商业模式的坚持，更不是对创始人内心的小骄傲的坚持。在互联网高速变革的背景下，只有对商业模式持续质疑，才能找到风口，去顺势而为。
				质疑扩张。
			</dd>
			<dd class="tag">标签：<a href="###">互联网</a><a href="###">创业</a><a href="###">聚美优品</a><a href="###">陈欧</a></dd>
		</dl>
	</div>
</div>
</body>
</html>