<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>PKM门户--{$title}</title>
<import type="css" file="css.basic,css.group" />
<import type="js" file="js.jquery_min,js.basic" />
</head>
<body>
<div id="main">
<include file="Public/include/left.html,Public/include/top.html"/>
	
	<div id="foot">
		<div class="nav">
				这里添加导航
		</div>
		<dl>
			<dt><img src="__PUBLIC__/images/fish.png" alt="图片"/></dt>
			<dd>主题：养宠交流</dd>
			<dd>成员：300人</dd>
			<dd>时间：2014-6-8</dd>
		</dl>
		<dl>
			<dt><img src="__PUBLIC__/images/fish.png" alt="图片"/></dt>
			<dd>主题：养宠交流</dd>
			<dd>成员：300人</dd>
			<dd>时间：2014-6-8</dd>
		</dl>
		<dl>
			<dt><img src="__PUBLIC__/images/fish.png" alt="图片"/></dt>
			<dd>主题：养宠交流</dd>
			<dd>成员：300人</dd>
			<dd>时间：2014-6-8</dd>
		</dl>
		<dl>
			<dt><img src="__PUBLIC__/images/fish.png" alt="图片"/></dt>
			<dd>主题：养宠交流</dd>
			<dd>成员：300人</dd>
			<dd>时间：2014-6-8</dd>
		</dl>
		<dl>
			<dt><img src="__PUBLIC__/images/fish.png" alt="图片"/></dt>
			<dd>主题：养宠交流</dd>
			<dd>成员：300人</dd>
			<dd>时间：2014-6-8</dd>
		</dl>
		<dl>
			<dt><img src="__PUBLIC__/images/fish.png" alt="图片"/></dt>
			<dd>主题：养宠交流</dd>
			<dd>成员：300人</dd>
			<dd>时间：2014-6-8</dd>
		</dl>
		<dl>
			<dt><img src="__PUBLIC__/images/fish.png" alt="图片"/></dt>
			<dd>主题：养宠交流</dd>
			<dd>成员：300人</dd>
			<dd>时间：2014-6-8</dd>
		</dl>
		<dl>
			<dt><img src="__PUBLIC__/images/fish.png" alt="图片"/></dt>
			<dd>主题：养宠交流</dd>
			<dd>成员：300人</dd>
			<dd>时间：2014-6-8</dd>
		</dl>
		<dl>
			<dt><img src="__PUBLIC__/images/fish.png" alt="图片"/></dt>
			<dd>主题：养宠交流</dd>
			<dd>成员：300人</dd>
			<dd>时间：2014-6-8</dd>
		</dl>
		<dl>
			<dt><img src="__PUBLIC__/images/fish.png" alt="图片"/></dt>
			<dd>主题：养宠交流</dd>
			<dd>成员：300人</dd>
			<dd>时间：2014-6-8</dd>
		</dl>
		<dl>
			<dt><img src="__PUBLIC__/images/fish.png" alt="图片"/></dt>
			<dd>主题：养宠交流</dd>
			<dd>成员：300人</dd>
			<dd>时间：2014-6-8</dd>
		</dl>
		<dl>
			<dt><img src="__PUBLIC__/images/fish.png" alt="图片"/></dt>
			<dd>主题：养宠交流</dd>
			<dd>成员：300人</dd>
			<dd>时间：2014-6-8</dd>
		</dl>
		<dl>
			<dt><img src="__PUBLIC__/images/fish.png" alt="图片"/></dt>
			<dd>主题：养宠交流</dd>
			<dd>成员：300人</dd>
			<dd>时间：2014-6-8</dd>
		</dl>
	</div>
</div>
</body>
</html>